
.fresh_class {


height: 48px;
background-color: aliceblue;


}

.fresh_class>span{

margin-left: 5px;
margin-right: 10px;


}


#refresh_datatime{

    
    font-size: 16px;
    color: rgb(245, 12, 12);
    
    height: 48px;
    line-height: 48px;
    text-align: center;


}

.btn_mk{

    background-color: aliceblue;


}
.btn_mk button {


    height: 48px;



}

#normalchart,#chart2,#cpkchart{

    height: 420px;
    margin: 0;

}